/* .container{
    width:100%;
    margin: 9% 16%;
    display: flex;
}
.body-container{
    width:100%;
}

.right{
    margin-left: 11%;
}
*/
.bo-l{
    text-decoration:none;
    font-size: 22px;
    font-weight: 400;
    
}
.bo-l:hover{
    text-decoration:underline;
    
} 
.para{
    font-size: 25px;
    padding-top: 0px;
    margin-top: -10px;
    margin-bottom: 25px;
}
.body-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    gap: 15rem;
    margin: 5rem auto;
    /* display: grid;
    grid-template-columns: repeat(2,50rem);
    justify-items: center; */
    
}
.container{
    margin:-1rem -5rem;
}
.single_div{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0 ;
}

.single_div2{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 4.5rem 0 ;

}
.single_div2 > img{
    width:100px;
    height: 100px;
}

.single_div > img {
    width:100px;
    height: 100px;

}
