.header-container{
  display: flex;
  align-items: center;
  background-color: black;
  color: #ffffff;
}
.header-icon {
  width: 8rem;
  margin: 1.5rem 0 1.5rem 7.5rem ;
}
.buttons {
  flex-grow: 1;
  margin-right: 2rem;
}
/* .btn-link{
  text-decoration: none;
  color: white;
}
.btn-link:hover{
  color: black;
} */