.main-container {
  background-color: rgb(220, 218, 248);
  text-align: center;
  width: 100%;
}
.how-can {
  font-size: 80px;
  margin-bottom: 2rem;
  margin-top: 0px;
  padding-top: 80px;
  word-spacing: -8px;
}
.searchboard {
  width: 50rem;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 8rem;
}
