.ab{
  font-size: 24px;
  font-weight: 500;

}
.mainpage{
  width:100%;
  height: 100%;
}
.abc{
  font-size: 27px;
  font-weight: 400;
  padding:0 10px ;
}

button{
  font-size: 24px;
  font-weight: 400;
  color: white;
  float: right;
  border-radius: 7px;
 
  

}
.btn1{
 padding: 10px 28px;
 background-color: rgb(31, 30, 30);
 border: 1px solid white;
 margin-right: 15px;

}
.btn2{
  padding:10px 30px ;
  background-color:rgb(76, 95, 213) ;  
  border:none;
  margin-right:5.7rem;
}
.btn2:hover{
  background-color: white;
  color:black;
}
/* mein */
h1{
  color:black;
}
input{
  padding: 18px;


}